* {
    font-size: 14.66px;
    font-family: sans-serif;
    color: #000;
    overflow: auto;
}

#container {
    background-color: red;
    height: 400px;
    width: 600px;
    overflow-y: scroll;
}

.item {
    background-color: white;
    color: black;
    width: 300px;
    height: 170px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#selected {
    background-color: black;
    color: white;
}